<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Good Bookmarks</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>

    <div class="container-fluid">
      <nav class="navbar navbar-dark navbar-dark bg-inverse navbar-fixed-top">
        <h3 class="nav-title pull-left">
          <%= link to: page_path(@conn, :index) do %>
            <%= font_awesome("bookmark") %> Good Bookmarks <%= font_awesome("thumbs-up fa-sm") %></h3>
          <% end %>
        <%= if @current_user do %>
          <input id="navbar-checkbox" class="navbar-checkbox pull-right" type="checkbox">
          <div class="nav-menu-items">
            <center>
              <hr>
              <p>Logged in as <strong><%= username(@current_user) %></strong></p>
              <hr>
              <%= font_awesome_link "Log out", "sign-out",
                icon_placement: "after",
                to: session_path(@conn, :delete, @current_user),
                method: :delete,
                class: "btn btn-primary btn-block" %>
            </center>
            <hr>
          </div>
          <label for="navbar-checkbox" class="navbar-handle"></label>
        <% end %>
      </nav>
    </div>

    <div class="container">
      <main role="main">
        <%= if (info = get_flash @conn, :info) do %>
          <p class="alert alert-info" role="alert"><%= info %></p>
        <% end %>

        <%= if (error = get_flash @conn, :error) do %>
          <p class="alert alert-danger" role="alert"><%= error %></p>
        <% end %>

        <%= render @view_module, @view_template, assigns %>
      </main>

    </div>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
