body {
  font-family: Merriweather,sans-serif;
}

main {
  margin-top: 73px;
}

form.link {
  display: inline;
}

.user-index-title {
  width: 170px;
  margin: 2.5em 0 .5em 0;
}

.user-index-actions {
  min-width: 120px;
}

.nav-title {
  margin-top: 5px;
}

.table-bordered {
  background-color: #f9f9fa;
}

.btn-block {
  max-width: 500px;
}

.help-block {
  color: #a94442;
  font-weight: bold;
}

.or-container {
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
  padding: 0 1em;
  clear: both;
  color: #6a737c;
  font-variant: small-caps;
}

.or-hr {
  margin-bottom: 0;
  position: relative;
  top: 19px;
  height: 0;
  border: 0;
  border-top: 1px solid #e4e6e8;
  color: #9fa6ad;
  background-color: #9fa6ad;
}

.or {
  margin-top: 5px;
  display: inline-block;
  position: relative;
  padding: 0 10px;
  background-color: #fff;
}

.external-auth-link {
  margin-bottom: 0.3em;
  a {
    &:hover {
      color: #fff;
    }
    width: 100%;
  }
}

.btn-github {
  &:hover {
    color: #333 !important;
  }
  color: #333;
  background-color: #e5e5e5;
  border-color: #d5d5d5;
}

.btn-google {
  background-color: #db4437;
  color: #fff;
  &:hover{
    color: #fff;
  }
}

.btn-facebook {
  background-color: #3b5998;
  border-color: #29487d;
  color: #fff;
}

.nav-title {
  a {
    &:hover {
      text-decoration: none;
    }
    color: inherit;
  }
}

.reg-login-text {
  margin-top: .5em;
}

@media (max-width: 480px) {
  .center-sm {
    margin-right: auto !important;
    margin-left: auto !important;
  }

  .reg-login-text {
    margin-top: 2em;
  }
}

.bookmark-index-table {
  thead {
    th.actions {
      width: 180px;
    }
  }

  tbody {
    .divider {
      color: #bbb;
    }
  }
}
